<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>

<body>
<p>
    <a href="../whatever.html" th:href="@{/teams}">Teams</a>
    <a href="../whatever.html" th:href="@{/players}">Players</a>
</p>

<h1>Events</h1>

<table>
    <tr>
        <th>NAME</th>
    </tr>
    <tr th:each="event : ${events}">
        <td th:text="${event[0]}">id</td>
        <td th:text="${event[1]}">name</td>
        <td>
            <a th:href="@{/events/{event_id}/edit(event_id=${event[0]})}">Edit</a>
            <a th:href="@{/events/delete/{event_id}(event_id=${event[0]})}">Delete</a>
        </td>
    </tr>
</table>

<p>
    <a href="../whatever.html" th:href="@{/events/new_event}">Add</a>
</p>
</body>
</html>