<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Players</title>
</head>

<body>
<p>
    <a href="../whatever.html" th:href="@{/teams}">Teams</a>
    -
    <a href="../whatever.html" th:href="@{/events}">Events</a>
</p>

    <h1>Players</h1>

    <table>
        <tr>
            <th>NAME</th>
        </tr>
        <tr th:each="player : ${players}">
            <td th:text="${player[0]}">id</td>
            <td th:text="${player[1]}">name</td>
            <td>
                <a th:href="@{/players/delete/{player_id}(player_id=${player[0]})}">Delete</a>
            </td>
        </tr>
    </table>

<p>
    <a href="../whatever.html" th:href="@{/players/new_player}">Add</a>
</p>

</body>
</html>
