<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hello Datahike</title>
</head>
<body>
<p>
    <a href="../whatever.html" th:href="@{/teams}">Teams</a>
    -
    <a href="../whatever.html" th:href="@{/events}">Events</a>
    -
    <a href="../whatever.html" th:href="@{/players}">Players</a>
</p>

</body>
</html>