<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teams</title>
</head>

<body>
<p>
    <a href="../whatever.html" th:href="@{/events}">Events</a>
    -
    <a href="../whatever.html" th:href="@{/players}">Players</a>
</p>


<h1>Teams</h1>

<table>
    <tr>
        <th>NAME</th>
    </tr>
    <tr th:each="team : ${teams}">
        <td th:text="${team[0]}">id</td>
        <td>
            <a th:href="@{/teams/{teamName}(teamName=${team[1]})}" th:text="${team[1]}">name</a>
        </td>

        <td>
            <a th:href="@{/teams/delete/{team_id}(team_id=${team[0]})}">Delete</a>
        </td>
    </tr>
</table>

<p>
    <a href="../whatever.html" th:href="@{/teams/new_team}">Add</a>
</p>
</body>
</html>