<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>team show</title>
</head>
<body>
    <p>
        <a href="../whatever.html" th:href="@{/teams}">Teams</a>
        -
        <a href="../whatever.html" th:href="@{/events}">Events</a>
        -
        <a href="../whatever.html" th:href="@{/players}">Players</a>
    </p>

    <h1 th:text="${teamName}">whatever</h1>

    <th:block  th:each="event: ${teamEvents}">
        <table>
            <tr>
                <td>
                    <h2>
                        <div th:text="${event[1]}">eventName</div>
                    </h2>
                </td>
                <td>
                    <a th:href="@{/teams/{teamId}/events/delete/{eventId}(eventId=${event[0]}, teamId=${teamId})}">Delete</a>
                </td>
            </tr>
            
            <!--Players list-->
            <th:block th:each="playerRow : ${eventsToPlayers.get(event[1])}">
                <tr>
                    <td>
                        <div th:text="${playerRow[3]}">names</div>
                    </td>
                    <td>
                        <a th:href="@{/events/{eventId}/teams/{teamId}/players/delete/{playerId}(eventId=${event[0]}, teamId=${teamId}, playerId=${playerRow[2]})}">Delete</a>
                    </td>
                </tr>
            </th:block>

            <!--Add player to event-->
            <tr>
                <td>
                <div class="form-group blu-margin">
                    <form th:action="@{/events/{eventId}/players(eventId=${event[0]})}" method="post">
                        <!--hidden field to pass the teamName-->
                        <input type="hidden" id="teamName" name="teamName" th:value="${teamName}">

                        <select class="form-control" id="dropPlayer" name="playerId" onchange="this.form.submit()">
                            <option value="0">Add player</option>
                            <option th:each="player : ${players}"
                                    th:value="${player[0]}"
                                    th:text="${player[1]}">
                            </option>
                        </select>
                    </form>
                </div>
                </td>
            </tr>
        </table>
    </th:block>


<p>
    <!-- Add event to team -->
    <div class="form-group blu-margin">
        <form th:action="@{/teams/{teamId}/events(teamId=${teamId})}" method="post">
            <!--hidden field to pass the teamName-->
            <input type="hidden" id="teamName" name="teamName" th:value="${teamName}">

            <select class="form-control" id="dropEvent" name="eventId" onchange="this.form.submit()">
                <option value="0">Add Event</option>
                <option th:each="event : ${allEvents}"
                        th:value="${event[0]}"
                        th:text="${event[1]}">
                </option>
            </select>
        </form>
    </div>

</p>

</body>
</html>
